body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
}

ul.category {
    font-size: 120%;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}

div.navbar-header a.navbar-brand:hover {
	color: #0282D7;
}

.navbar-brand span img.img-reponsive {
	max-height: 20px;
	margin-right: 7px;
	margin-bottom: 3px;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/BebasNeue-webfont.woff') format('woff'),
			 url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
			 url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#welcome {
	font-family: 'BebasNeue';
	margin: 100px auto;
	font-family: BebasNeue, Arial, sans-serif;
	text-align: center;
	font-size: 40px;
}

#welcome h1 {
	font-family: BebasNeue, Helvetica Neue, Arial, sans-serif;
	font-size: 100px;
	color: #0282D7;
}

#welcome h2 {
	font-family: BebasNeue, Helvetica Neue, Arial, sans-serif;
	font-size: 80px;
}

#welcome p {
	margin-top: 30px;
	line-height: 0.9em;
}

/*#welcome img:hover {
	color: #0282D7;
}*/

span.search_highlight {
	color: red;
	font-size: 18px;
}
