{% extends "base.html" %}

{% load static %}

{% block page_content %}
  <div id="welcome">
    <h1>OZ blava.net</h1>
    <h2>welcome to our site</h2>
    <p>
      This web is actually just an old site archive, <br>
      but the articles are browsable.<br>
    </p>
    <p>
      <a href="/blog"><img class="img-reponsive" src="{% static "images/blog.png" %}" alt="Blog" /></a>
    </p>
  </div>


{% comment %}
  <div class="jumbotron">
    <h3>Welcome to <span>OZ blava.net</span> site!</h3>
    <p><a href="{% url 'blog:blog-index' %}" class="btn">Read blog archive</a></p>
  </div>
{% endcomment %}
{% endblock %}
